<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>thought</title>
</head>
<body>
    <h1>Welcome {{session['first_name']}}</h1><a class="btn btn-danger" href="/logout" role="button">Logout</a>
    <a class="btn btn-success" href="/thoughts" role="button">Dashboard</a>


    <h2>{{user.first_name}}'s Thoughts</h2>

    {% for thought in user.thoughts  %}
        <p>{{thought.content}}</p>
        <hr>
    {% endfor %}



</body>
</html>